<aside>
    <div class="card">
        <img class="card-img-top" src="holder.js/100x180/" alt="Title" />
        <div class="card-body">
            <h2 class="display-6 fs-5 card-title"> My Profile </h2>    
            <p class="card-text">
                name: 
            </p>
            <p class="card-text">
                email:
            </p>
            <p class="card-text">
                created at:
            </p>
            <p class="card-text">
                My applies
            </p>
        </div>
    </div>
    



</aside>

