


<div id="<%= dom_id joboffer %>" class="card border-0">

  <div class="card-body">
    <p class="card-text">
      <%= joboffer.description %>
    </p>
    <p class="card-text">
      Salario ofrecido <%= number_to_currency(joboffer.salary) %></p>
  </div>

</div>
