<% content_for :title, "Editing joboffer" %>

<h1>Editing joboffer</h1>

<%= render "form", joboffer: @joboffer %>

<br>

<div>
  <%= link_to "Show this joboffer", @joboffer %> |
  <%= link_to "Back to joboffers", joboffers_path %>
</div>
