<% content_for :title, "New joboffer" %>

<h1 class="text-center display-1">Create a new Job Offer</h1>
<div class="container-fluid my-5">
  <div class="col-10 col-md-6 mx-auto">
    <%= render "form", joboffer: @joboffer %>
  </div>
</div>
